# Parker-Hub Environment Variables
# ---------------------------------
# Copy this file to .env and fill in your actual values.
# The .env file is ignored by git and should NEVER be committed.

# --- General Docker Settings ---
# See https://docs.linuxserver.io/general/understanding-puid-pgid
PUID=1000
PGID=1000
TZ=Etc/UTC

# --- Grafana Settings ---
# These will be used when you add the Grafana service.
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=your_strong_grafana_password

# --- InfluxDB Settings ---
# These will be used for your telemetry database.
DOCKER_INFLUXDB_INIT_USERNAME=parker
DOCKER_INFLUXDB_INIT_PASSWORD=your_strong_influxdb_password
DOCKER_INFLUXDB_INIT_ORG=parker-hub
DOCKER_INFLUXDB_INIT_BUCKET=tailsitter_vtol
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=your_super_secret_influxdb_token